.diamond-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.top-diamonds,
.bottom-diamonds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: -1.5rem;
}

.diamond {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ffcc00;
  margin: 0 10px;
}

.diamond-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.diamond-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.diamond-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .diamond-container {
    width: 90%;
    margin-top: 3rem;
  }

  .top-diamonds {
    gap: 2rem; /* Adjust the gap as needed */
    margin-top: 0; /* Remove negative margin-top */
  }

  .bottom-diamonds {
    gap: 4rem;
    margin-top: -1.5rem;
  }

  .diamond {
    width: 120px;
    height: 120px;
  }

  .diamond-header {
    font-size: 1rem;
  }

  .diamond-value {
    font-size: 1.2rem;
  }
}
