.rec.rec-arrow {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  transition: border 0.3s ease;
}

.rec.rec-arrow:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #000;
  color: #000 !important;
}

.rec-dot_active {
  background-color: #36528b;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px 2px;
}

.rec-dot {
  background-color: #2b6cb0;
}
