.rec.rec-arrow {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  transition: border 0.3s ease;
  margin: 0 !important; /* Remove margin */
}

.rec.rec-arrow:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #000;
  color: #000 !important;
}

.rec-dot_active {
  background-color: #36528b;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px 2px;
}

.rec-dot {
  background-color: #2b6cb0;
}

@media (max-width: 800px) {
  .rec-arrow {
    font-size: 12px !important;
    padding: 2px !important;
    border: none !important;
    outline: none !important; 
  }

  .rec-arrow:hover {
    font-size: 12px !important;
    padding: 2px !important;
  }
}
